.footer {
  background: #504c4c;
  color: #fff;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: -137px;
  position: absolute;
  right: 0;
  left: 0;
}